<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>About</title>
  <style>
      body {
        background-image: url('/static/images/glass-building.jpg');
        /* background-size: 1530px 700px; */
        /* background-color: rgba(7, 205, 255, 0.664);
        background-blend-mode: lighten; */
      }
    </style>
</head>
<body>
  <div class="container-fluid">
    <!-- navbar -->
      <nav class="navbar navbar-light transparent h1 py-3" id="glass_navbar">
          <a href="graphs">
            <button type="button" class="btn btn-dark" id='graph_button'>Graphs</button>
          </a>
          <a class="navbar-brand" href="index" id='glass_heading'>Glass Classification</a>
          <a href="about">
            <button type="button" class="btn btn-dark" id='about_button'>About</button>
          </a>
      </nav>

      
      <div class="jumbotron">
          <h1 class="display-4">About</h1>
          <p class="lead">Glass has many varied applications in various industries. Depending on the various properties like refractive index, chemical composition etc. the glass is classified into various categories. These categories signify the utility for which the given glass is suitable. For example, glass with almost null values of Mg, Ba and Fe (magnesium, barium and iron) are suitable for containers, etc.</p>
          <hr class="my-4">
          <p>Given below are the types of glass being classified in the following project. </p>
        </div>

        <div class="container">
      <div class="row mt-2">
        <div class="col ">
          <div class="card " style="width: 20rem;">
            <img src="\static\images\1.jpg" class="card-img-top" alt="Building windows float processed">
            <div class="card-body">
              <h5 class="card-title">Building windows float processed</h5>
              <p class="card-text">Float glass is a sheet of glass made by floating molten glass on a bed of molten metal, typically tin, although lead and other various low-melting-point alloys were used in the past. This method gives the sheet uniform thickness and very flat surfaces. 
                  Modern building windows are made from float glass since the process of floating makes the windows stronger.
                 <pre></pre> </p>
            </div>
          </div> 
        </div>

        <div class="col ">
          <div class="card " style="width: 20rem;">
            <img src="\static\images\2.jpg" class="card-img-top" alt="Building windows non-float processed">
            <div class="card-body">
              <h5 class="card-title">Building windows non-float processed</h5>
              <p class="card-text">In the smaller houses where there is no need for industrial strong windows, non float type windows are sufficient. This type of window is more malleable and can be made to be more decorative and aesthetic. 
                  <pre>
                    





                    </pre>   </p>
            </div>
          </div> 
        </div>

        <div class="col ">
          <div class="card " style="width: 20rem;">
            <img src="\static\images\3.jpg" class="card-img-top" alt="Vehicle windows float processed">
            <div class="card-body">
              <h5 class="card-title">Vehicle windows float processed</h5>
              <p class="card-text">Float glass is a sheet of glass made by floating molten glass on a bed of molten metal, typically tin, although lead and other various low-melting-point alloys were used in the past. This method gives the sheet uniform thickness and very flat surfaces. 
                  Since float processed windows are stronger than its non-float processed counterparts, they are used in making windows for aeroplanes, helicopters etc                   
                  </p>
            </div>
          </div> 
        </div>

      </div>

      <div class="row  mt-4">

        <div class="col ">
            <div class="card " style="width: 20rem;">
              <img src="\static\images\5.jpg" class="card-img-top" alt="Containers">
              <div class="card-body">
                <h5 class="card-title">Containers</h5>
                <p class="card-text">The glass material of containers is usually transparent and thick but not as thick as building windows. It is sturdier than the tableware glass material.                   
                    <pre></pre> </p>
              </div>
            </div> 
          </div>

          <div class="col ">
            <div class="card " style="width: 20rem;">
              <img src="\static\images\6.jpg" class="card-img-top" alt="Tableware">
              <div class="card-body">
                <h5 class="card-title">Tableware</h5>
                <p class="card-text">All the tableware material like glasses, plates etc. come in this category. The glass is more malleable and can be easily moulded into decorative shapes. Color can also be added to make it more aesthetic.                    
                    </p>
              </div>
            </div> 
          </div>

          <div class="col ">
            <div class="card " style="width: 20rem;">
              <img src="\static\images\7.jpg" class="card-img-top" alt="Headlamps">
              <div class="card-body">
                <h5 class="card-title">Headlamps</h5>
                <p class="card-text">Headlamps of cars, bikes etc. are made from these types of glass. They should have a specific refractive index so as to disperse light correctly in appropriate directions.                     
                    <pre>



                      
                    </pre>  </p>
              </div>
            </div> 
          </div>

      </div>
      <!-- end of container -->
    </div>

  <!-- end of container fluid -->
  </div>
</body>
</html>