<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>KmeansWithDifferentK</title>
  <style>
      body {
        background-image: url('/static/images/glass-building.jpg');
        /* background-size: 1530px 700px; */
        /* background-color: rgba(7, 205, 255, 0.664);
        background-blend-mode: lighten; */
      }
    </style>
</head>
<body>
  {% block content %}
  <div class="container-fluid">
    <!-- Navbar -->
    <nav class="navbar navbar-light transparent h1 py-3" id="glass_navbar">
        <a href="graphs">
          <button type="button" class="btn btn-dark" id='graph_button'>Graphs</button>
        </a>
        <a class="navbar-brand" href="index" id='glass_heading'>Glass Classification</a>
        <a href="about">
          <button type="button" class="btn btn-dark" id='about_button'>About</button>
        </a>
    </nav>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm">
        <div class="card">
          <img src="\static\images\3dbuf.png" width="500" height="500"/>
          <div class="card-body">
            <h5 class="card-text">3d Cluster k={{kmeansK_ip}}</h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <img src="\static\images\2dbuf.png" width="500" height="500"/>
          <div class="card-body">
            <h5 class="card-text">2d Cluster k={{kmeansK_ip}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
</html>