<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Graphs</title>
  <style>
      body {
        background-image: url('/static/images/glass-building.jpg');
        /* background-size: 1530px 700px; */
        /* background-color: rgba(7, 205, 255, 0.664);
        background-blend-mode: lighten; */
      }
    </style>
</head>
<body>
  
  {% block content %}
    <!-- navbar -->
    <div class="container-fluid">
      <!-- As a link -->
      <nav class="navbar navbar-light transparent h1 py-3" id="glass_navbar">
          <a href="graphs">
            <button type="button" class="btn btn-dark" id='graph_button'>Graphs</button>
          </a>
          <a class="navbar-brand" href="index" id='glass_heading'>Glass Classification</a>
          <a href="about">
            <button type="button" class="btn btn-dark" id='about_button'>About</button>
          </a>
      </nav>

      <div class="card-transparent">
        <div class="card-body">
          <h5 class="card-title" style="color: aliceblue;">K-means clustering</h5>
          <p class="card-text" style="color: aliceblue;">k-means clustering aims to partition n observations into k clusters in which each observation belongs to the cluster with the nearest mean, serving as a prototype of the cluster.</p>
          <div class="row">
            <div class="col">
              <img src="\static\images\kmeans_2d.png" alt="k-means cluster 2d" width="500" height="500">
            </div>
            <div class="col">
              <img src="\static\images\3dkmeansimg.png" alt="k-means cluster 3d" width="500" height="500">
            </div>
            <div class="col" style="margin-top: 10em;">
                {% csrf_token %}
                <form action="genKmeans">
                  <div class="row">
                    <div class="col mt-1">
                      <input type="number" class="form-control form-control-sm" id="kmeansK" name="kmeansK" placeholder="enter value of K" min="1">                      
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-success" id="genKmeans_button">Try different K</button>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>

      </div>
    {% endblock %}

</body>
</html>